In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import timeit

In [80]:
import google.cloud.bigquery

In [81]:
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= "projectnss-ceec5b241166.json"

In [82]:
# Create a big query client 
bigquery_client=google.cloud.bigquery.Client(project='projectnss-207606')

In [83]:
# # Querying  a bitcoin data set 
# query=bigquery_client.query("""
# #Standard SQL
# SELECT * FROM [bigquery-public-data:bitcoin_blockchain.blocks] LIMIT 1000;
# """
# )
# query_job = client.query(query)  # API request
# rows = query_job.result()  # Waits for query to finish

In [84]:
import quandl
#import gsutil as gsl

In [85]:
path='C:\\Users\\getud\\Dropbox\\Dereje Personal\\NSS DS\\test'

In [86]:
#gsutil -m cp -r path gs://nss_bitcoin

In [87]:
#gsutil -m cp -R gs://nss_bitcoin

In [88]:
pwd

'C:\\Users\\getud\\Dropbox\\Dereje Personal\\NSS DS\\test'

In [89]:
quandl.ApiConfig.api_key="29uxx6wPZvnx4gStWcpy"

In [90]:
columnlist=["BCHAIN/TOTBC",
"BCHAIN/MKTCP",
"BCHAIN/TRFEE",
"BCHAIN/TRFUS",
"BCHAIN/NETDF",
"BCHAIN/NTRAN",
"BCHAIN/NTRAT",
"BCHAIN/NTREP",
"BCHAIN/NADDU",
"BCHAIN/NTRBL",
"BCHAIN/TOUTV",
"BCHAIN/ETRAV",
"BCHAIN/ETRVU",
"BCHAIN/TRVOU",
"BCHAIN/TVTVR", 
"BCHAIN/MKPRU",
"BCHAIN/CPTRV",
"BCHAIN/CPTRA",
"BCHAIN/HRATE",
"BCHAIN/MIREV",
"BCHAIN/ATRCT",
"BCHAIN/BCDDC",
"BCHAIN/BCDDE",
"BCHAIN/BCDDW",
"BCHAIN/BCDDM",
"BCHAIN/BCDDY",
"BCHAIN/BLCHS",
"BCHAIN/AVBLS",
"BCHAIN/MWTRV",
"BCHAIN/MWNUS",
"BCHAIN/MWNTD",
"BCHAIN/MIOPM",
"BCHAIN/DIFF"]

In [91]:
len(columnlist)

33

In [92]:
# quandl.get("BCHAIN/MIOPM").info()

In [93]:
# %%timeit
btc_df = pd.concat([quandl.get(df) for df in columnlist], join='outer',ignore_index=False, axis=1)

In [94]:
btc_df.head()

,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-03,50.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.000272,0.0,2.0,0.0,-2.147484e+09,1.0
2009-01-04,50.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,2.0,0.0,0.000000e+00,0.0
2009-01-05,50.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,2.0,0.0,0.000000e+00,0.0
2009-01-06,50.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,2.0,0.0,0.000000e+00,0.0
2009-01-07,50.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,2.0,0.0,0.000000e+00,0.0

In [95]:
btc_df.columns = columnlist

In [96]:
btc_df.columns

Index(['BCHAIN/TOTBC', 'BCHAIN/MKTCP', 'BCHAIN/TRFEE', 'BCHAIN/TRFUS',
       'BCHAIN/NETDF', 'BCHAIN/NTRAN', 'BCHAIN/NTRAT', 'BCHAIN/NTREP',
       'BCHAIN/NADDU', 'BCHAIN/NTRBL', 'BCHAIN/TOUTV', 'BCHAIN/ETRAV',
       'BCHAIN/ETRVU', 'BCHAIN/TRVOU', 'BCHAIN/TVTVR', 'BCHAIN/MKPRU',
       'BCHAIN/CPTRV', 'BCHAIN/CPTRA', 'BCHAIN/HRATE', 'BCHAIN/MIREV',
       'BCHAIN/ATRCT', 'BCHAIN/BCDDC', 'BCHAIN/BCDDE', 'BCHAIN/BCDDW',
       'BCHAIN/BCDDM', 'BCHAIN/BCDDY', 'BCHAIN/BLCHS', 'BCHAIN/AVBLS',
       'BCHAIN/MWTRV', 'BCHAIN/MWNUS', 'BCHAIN/MWNTD', 'BCHAIN/MIOPM',
       'BCHAIN/DIFF'],
      dtype='object')

In [97]:
btc_df.to_csv('btc_df.csv')

In [98]:
# btc_df.info()

In [99]:
# import matplotlib.pyplot as plt
# btc_df.plot(figsize=(20,10))

In [100]:
# import pandas as pd
# for i in columnlist:
# #     btc_df = pd.DataFrame()
#     data= quandl.get(i)
# #     result=pd.concat(quandl.get(i), join='outer')

In [101]:
# df_list = []

# reader = pd.read_csv(tax_sample, sep='\|\|', engine='python', 
#                      dtype=tax_column_types, chunksize=10, nrows=100)

# for chunk in reader:
#    tmp = chunk[chunk['state'].isin(state_list)]    
#    df_list.append(tmp)

# master_df = pd.concat(df_list)

# for g in master_df.groupby('state'):
#     g[1].to_csv('property' + g[0] + '.csv')

In [102]:
# b_difficulty = quandl.get("BCHAIN/DIFF")

In [103]:
# b_difficulty.info()

In [104]:
# b_difficulty.head()

In [105]:
# b_operating_margin=quandl.get("BCHAIN/MIOPM")

In [106]:
# b_operating_margin.info()

In [107]:
# b_operating_margin.head()

In [108]:
# hash_rate=quandl.get("BCHAIN/HRATE")

In [109]:
# hash_rate.info()

In [110]:
# Getting the Price of Gold 
#gold_df=quandl.get("WGC/GOLD_DAILY_USD", authtoken="29uxx6wPZvnx4gStWcpy")

In [111]:
# Getting the price of gold from london Market 

gold_df=quandl.get("LBMA/GOLD", authtoken="29uxx6wPZvnx4gStWcpy")

In [112]:
gold_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12759 entries, 1968-01-02 to 2018-06-26
Data columns (total 6 columns):
USD (AM)     12758 non-null float64
USD (PM)     12622 non-null float64
GBP (AM)     12748 non-null float64
GBP (PM)     12611 non-null float64
EURO (AM)    4922 non-null float64
EURO (PM)    4885 non-null float64
dtypes: float64(6)
memory usage: 697.8 KB

In [113]:
gold_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12759 entries, 1968-01-02 to 2018-06-26
Data columns (total 6 columns):
USD (AM)     12758 non-null float64
USD (PM)     12622 non-null float64
GBP (AM)     12748 non-null float64
GBP (PM)     12611 non-null float64
EURO (AM)    4922 non-null float64
EURO (PM)    4885 non-null float64
dtypes: float64(6)
memory usage: 697.8 KB

In [114]:
gold_df.columns

Index(['USD (AM)', 'USD (PM)', 'GBP (AM)', 'GBP (PM)', 'EURO (AM)',
       'EURO (PM)'],
      dtype='object')

In [115]:
gold_df.drop([ 'GBP (AM)', 'GBP (PM)', 'EURO (AM)',
       'EURO (PM)', 'USD (PM)'], axis=1, inplace=True)

In [116]:
gold_df.columns=['gold_price']

In [117]:
gold_df.head()

            gold_price
Date
1968-01-02       35.18
1968-01-03       35.16
1968-01-04       35.14
1968-01-05       35.14
1968-01-08       35.14

In [118]:
gold_df.to_csv('gold_df.csv')

In [119]:
SP500_df=pd.read_csv("SP500.csv",index_col='Date')

In [120]:
SP500_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1/2/2009,902.989990,934.729980,899.349976,931.799988,931.799988,4048270000
1/5/2009,929.169983,936.630005,919.530029,927.450012,927.450012,5413910000
1/6/2009,931.169983,943.849976,927.280029,934.700012,934.700012,5392620000
1/7/2009,927.450012,927.450012,902.369995,906.650024,906.650024,4704940000
1/8/2009,905.729980,910.000000,896.809998,909.729980,909.729980,4991550000

In [121]:
SP500_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2387 entries, 1/2/2009 to 6/26/2018
Data columns (total 6 columns):
Open         2387 non-null float64
High         2387 non-null float64
Low          2387 non-null float64
Close        2387 non-null float64
Adj Close    2387 non-null float64
Volume       2387 non-null int64
dtypes: float64(5), int64(1)
memory usage: 130.5+ KB

In [122]:
SP500_df.to_csv('SP500_df.csv')

In [123]:
cobe_vix_df=pd.read_csv("COBE VIX.csv", index_col='Date')

In [124]:
cobe_vix_df.to_csv('cobe_vix_df.csv')

In [125]:
cobe_vix_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2387 entries, 1/2/2009 to 6/26/2018
Data columns (total 6 columns):
Open         2387 non-null float64
High         2387 non-null float64
Low          2387 non-null float64
Close        2387 non-null float64
Adj Close    2387 non-null float64
Volume       2387 non-null int64
dtypes: float64(5), int64(1)
memory usage: 130.5+ KB

In [126]:
currecy_I_pdf=pd.read_csv('CurrencyI.csv', index_col='Date')

In [127]:
currecy_I_pdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2474 entries, 1/1/2009 to 6/26/2018
Data columns (total 6 columns):
EUR/USD Close    2474 non-null float64
EUR/USD High     2474 non-null float64
EUR/USD Low      2474 non-null float64
USD/JPY Close    2474 non-null float64
USD/JPY High     2474 non-null float64
USD/JPY Low      2474 non-null float64
dtypes: float64(6)
memory usage: 135.3+ KB

In [128]:
currecy_I_pdf.to_csv('currecy_I_df.csv')

In [129]:
currecy_II_pdf=pd.read_csv('CurrencyII.csv', index_col='Date')

In [130]:
currecy_II_pdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2474 entries, 1/1/2009 to 6/26/2018
Data columns (total 4 columns):
 Open     2474 non-null float64
 High     2474 non-null float64
 Low      2474 non-null float64
 Close    2474 non-null float64
dtypes: float64(4)
memory usage: 96.6+ KB

In [131]:
currecy_II_pdf.to_csv('currecy_II_df.csv')